.company-info {
    width: 1280px;
    margin: 0px auto;
    margin-top: 80px;
}

.company-info-wrapper {
    width: 1110px;
    margin: 0px auto;
    position: relative;
    display: flex;
}

.cpn-info {
    width: 480px;
    margin-right: 60px;
}

.cpn-info h1 {
    color: #165e83;
    font-size: 32px;
    font-weight: 700;
    height: 52px;
    left: 35px;
    line-height: 1.4;
}

.cpn-info h2 {
    color: #0b2d3f;
    font-size: 24px;
    font-weight: 600;
    height: 67px;
    left: 36px;
    line-height: 1.83;
    margin-bottom: 45px;
}

.cpn-info text {
    color: #0b2d3f;
    letter-spacing: 0.1em;
    line-height: 2;
    font-size: 14px;
}

.cpn-img img {
    height: 400px;
    width: 435px;
    border-radius: 20px;
}

.cpn-img {
    margin-left: 40px;
}

/*
RECRUIT CSS
*/

.recruit {
    width: 1280px;
    margin: 0px auto;
    position: relative;
    justify-content: center;
    display: flex;
}


.recruit-wrapper {
    width: 1110px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 10%;
}

.recruit-wrapper p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    left: 133px;
    line-height: 1.24;
    margin-bottom: 18px;
}

.recruit-wrapper a {
    border: 1px solid white;
    padding: 5px;
    color: #165e83;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
}

.recruit-wrapper a:hover {
    transition: color 0.5s, background-color 0.5s;
    color: white;
    background-color: #165e83;
}