body{
    font-size: 14px;
    line-height: 1.15;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header{
    background-color: tomato;
    padding: 15px 0px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#content{
    min-height: 650px;
    flex: 1;
}

#footer{
    background-color: black;
    padding: 15px 0px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}


